* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 300px;
  margin-top: 30px;
}

.card_header img {
  width: 100%;
}

.card_header {
  position: relative;
}

.product_like {
  position: absolute;
  top: 10px;
  right: 20px;
  color: white !important;
}

.product_rating {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.product_rating .star {
  color: gold;
}

.card_footer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_footer .price .old_price {
  color: grey;
  text-decoration: line-through;
}

.basket {
  border: 1px solid grey;
  padding: 6px 8px;
  border-radius: 50%;
}

.basket_icon {
  font-size: 28px;
}
